{% extends "base.html.twig" %}

{% block content %}
<h1>Posts by {{ author.name }}</h1>
<p>{{ author.bio }}</p>
<ul>
    {% for post in author.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <p>{{ post.excerpt }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}