{% extends "base.html.twig" %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>By <a href="{{ post.author.url }}">{{ post.author.name }}</a> on {{ post.date }}</p>
<div>{{ post.content }}</div>
{% if post.categories %}
    <p>Categories: 
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
{% if post.tags %}
    <p>Tags: 
        {% for tag in post.tags %}
            <a href="{{ tag.url }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
{% endblock %}